---
import Layout from "../layouts/Base.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About</h1>
	<p>
		Hi, I'm Lee Haesung. I'm undergraduate student and aspiring developer.
	</p>
	Currently, interested in web development, and linux kernel.

	<h2 class="title mt-4">History:</h2>
	<ul class="list-inside list-disc">
		<li>Sungkyunkwan Univ.</li>
		<ul class="list-inside list-none ml-6 text-sm">
			<li>
				- B.S. in Computer Science and Engineering (February 2022 –
				Present)
			</li>
			<li>
				- Undergraduate Researcher in <a
					href="http://nyx.skku.ac.kr/"
					target="_blank"
					class="text-blue-500 hover:text-blue-700 underline"
					>iESLAB</a
				> (Supervised by Prof. Shin, August 2023 - February 2024)
			</li>
		</ul>
		<li>
			<a
				href="https://skkuding.dev/about/"
				target="_blank"
				class="text-blue-500 hover:text-blue-700 underline">SKKUDING</a
			>
		</li>

		<ul class="list-inside list-none ml-6 text-sm">
			<li>- Backend Developer (August 2022 – February 2024)</li>
		</ul>
		<li>Republic of Korea Army</li>
		<ul class="list-inside list-none ml-6 text-sm">
			<li>- M/W Operator (April 2024 – Present)</li>
		</ul>
	</ul>

	<h3 class="title mt-4">Projects:</h3>
	<ul class="list-inside list-disc">
		<li>
			<a
				href="https://github.com/skkuding/codedang"
				target="_blank"
				class="text-blue-500 hover:text-blue-700 underline">Codedang</a
			> (January 2023 - February 2024)
		</li>
		<ul class="list-inside list-none ml-6 text-sm">
			<li>- Participated as backend developer</li>
		</ul>
		<li>
			Industry-Academia Collaboration Project (March 2023 - December 2023)
		</li>
		<ul class="list-inside list-none ml-6 text-sm">
			<li>
				- AI model optimization with <a
					href="https://soynet.io/about/"
					target="_blank"
					class="text-blue-500 hover:text-blue-700 underline"
					>Soynet</a
				>
			</li>
		</ul>
		<li>
			<a
				href="https://github.com/HOYNET/Fin2Vec"
				target="_blank"
				class="text-blue-500 hover:text-blue-700 underline">Hoynet</a
			> (August 2023 - January 2024)
		</li>
		<ul class="list-inside list-none ml-6 text-sm">
			<li>- Participated as M/L developer</li>
		</ul>
	</ul>

	<h4 class="title mt-4">Info:</h4>
	<li>
		<a
			href="https://github.com/lshtar13/"
			target="_blank"
			class="text-blue-500 hover:text-blue-700 underline">github</a
		>
	</li>
	<li>
		<a
			href="mailto:edwin109802@gmail.com"
			target="_blank"
			class="text-blue-500 hover:text-blue-700 underline">mail</a
		>
	</li>
</Layout>
