---
import type { TocItem } from "./TableOfContents.astro";

const { heading } = Astro.props as { heading: TocItem };
---

<li>
	<a class="hover:text-accent" href={`#${heading.slug}`}>{heading.text}</a>
	{heading.subheadings.length > 0 && (
		<ul class="ml-4 mt-2 space-y-2 border-l border-[var(--theme-border)] pl-3">
			{heading.subheadings.map((subheading) => <Astro.self heading={subheading} />)}
		</ul>
	)}
</li>
